.App {
  text-align: center;
}

.app-container {
  height: 100vh;
  background-image: url('../public/Assets/pexels-pixabay-268883.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}